/* Define o estilo do modal para ocupar toda a tela */
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: none;
}

/* Define o fundo da página como cinza */
body {
    background-color: #e2e2e2;
    /* Cor cinza clara para o fundo da página */
}

.modal-content {
    height: 100%;
    border-radius: 0;
    /* Remove bordas arredondadas para ocupar toda a tela */
}

.modal-body {
    max-height: calc(100% - 120px);
    /* Ajuste conforme necessário para considerar o espaço ocupado pelo cabeçalho e rodapé */
    overflow-y: auto;
    position: relative;
}

.modal-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #343a40;
    /* Cor de fundo do cabeçalho */
    color: white;
    /* Cor do texto do cabeçalho */
    border-radius: .25rem;
    /* Bordas arredondadas para todos os itens */
    transition: background-color 0.2s, color 0.2s;
    /* Adiciona espaço à direita dos itens */
}

/* Estilo para centralizar o modal */
.modal.fade .modal-dialog {
    transform: translate(0, 0);
    /* Remove qualquer deslocamento inicial */
}

.modal.show .modal-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centraliza o modal */
    position: absolute;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #fff !important;
    background-color: #006fdf !important;
    /* Cor de fundo para quando ativo ou hover */
}

.navbar-nav .nav-link {
    font-size: 1rem;
    /* Aumenta o tamanho da fonte dos itens da navbar */
    margin-right: 1rem;
    /* Adiciona espaço à direita dos itens */
    color: #ffffff;
    /* Cor padrão do texto */
    border-radius: .25rem;
    /* Bordas arredondadas para todos os itens */
    transition: background-color 0.2s, color 0.2s;
    /* Adiciona espaço à direita dos itens */
}

.dropdown-menu {
    background-color: #575757;
    /* Cor de fundo do dropdown */
    border: none;
    /* Remove borda do dropdown */
}

.dropdown-item:hover {
    background-color: #006fdf;
    /* Cor de fundo ao passar o mouse sobre o item do dropdown */
}

.nav-item.dropdown {
    margin-left: 1rem;
    /* Adiciona espaço à esquerda do dropdown */
}

.dropdown-item {
    color: #fff;
    /* Cor do texto do dropdown */
    font-size: 1.1rem;
    /* Aumenta o tamanho da fonte dos itens do dropdown */
    padding: 0.5rem 1rem;
    /* Ajusta o preenchimento dos itens do dropdown */
}

.btn-custom {
    height: 100px;
    /* Ajuste a altura conforme necessário */
}

/* CSS personalizado para o modal em tela cheia */
.modal-fullscreen {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    margin: 0;
}


/* CSS para garantir que todos os botões tenham o mesmo tamanho */
.btn-uniform {
    /* Adiciona altura fixa para botões */
    height: 60px;
    /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Garante que todos os botões sejam responsivos e ocupem toda a largura do container */
.btn-uniform.w-100 {
    width: 100%;
}

/* Estilo do cabeçalho da tabela para ficar fixo na parte superior */
.modal-table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #343a40;
    /* Ou a cor que preferir */
    color: #fff;
    border-radius: 0;
    /* Remova ou ajuste conforme seu design */
    padding: 0.75rem;
}

/* Ajustes adicionais para garantir que o modal preencha a tela */
.modal-fullscreen {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.modal-dialog-scrollable {
    height: calc(100% - 1rem);
}

.modal-body {
    padding: 0;
    overflow-y: auto;
    max-height: calc(100% - 120px);
    /* Ajuste conforme necessário */
}

/* CSS personalizado para o modal de confirmação */
/* CSS personalizado para o modal de confirmação */
.custom-modal .modal-dialog {
    max-width: 400px;
    /* Ajuste a largura máxima do modal */
    width: 100%;
    /* Para garantir que o modal use toda a largura disponível dentro do max-width */
    margin: 30px auto;
    /* Centraliza o modal verticalmente e horizontalmente */
}

.custom-modal .modal-content {
    border-radius: 8px;
    /* Adiciona bordas arredondadas ao modal */
    max-height: 300px;
    /* Define a altura máxima do modal */
    overflow-y: auto;
    /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura máxima */
}

.custom-modal .modal-header,
.custom-modal .modal-footer {
    background-color: #f8f9fa;
    /* Adiciona uma cor de fundo ao cabeçalho e rodapé do modal */
}

.custom-modal .modal-body {
    max-height: calc(300px - 120px);
    /* Ajusta a altura do corpo do modal (300px - altura do cabeçalho e rodapé) */
    overflow-y: auto;
    /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura do corpo */
}

/* Estilos gerais de fundo */
.compra-catalisador {
    background-color: #d0e0f0;
    /* Azul claro */
}

.total-valor-pecas {
    background-color: #d0e0f0;
    /* Azul claro */
}

.saldo-adiantamentos {
    background-color: #fdd0d0;
    /* Vermelho claro */
}

.saldo-positivo {
    background-color: #d0f0c0;
    /* Verde claro */
}

.saldo-negativo {
    background-color: #fdd0d0;
    /* Vermelho claro */
}

/* Efeito de hover mais intenso para cada coluna */
.compra-catalisador:hover {
    background-color: #a0c0f0;
    /* Azul mais forte */
}

.total-valor-pecas:hover {
    background-color: #a0c0f0;
    /* Azul mais forte */
}

.saldo-adiantamentos:hover {
    background-color: #fbb0b0;
    /* Vermelho mais forte */
}

.saldo-positivo:hover {
    background-color: #a0d0a0;
    /* Verde mais forte */
}

.saldo-negativo:hover {
    background-color: #fbb0b0;
    /* Vermelho mais forte */
}

 /* Estilo do modal para arrasto */
 .modal-header {
    cursor: move; /* Muda o cursor para indicar que o modal pode ser movido */
}
#pdfModal .modal-dialog {
    max-width: 600px; /* Ajuste a largura conforme necessário */
}
#pdfModal .modal-body {
    height: 300px; /* Ajuste a altura conforme necessário */
    overflow: auto; /* Adiciona rolagem se o conteúdo exceder a altura */
}

.draggable {
    cursor: move; /* Muda o cursor quando o mouse passa sobre a linha */
}

.saldo-positivo {
    background-color: #dff0d8; /* Verde claro para saldo positivo */
}

.saldo-negativo {
    background-color: #f2dede; /* Vermelho claro para saldo negativo */
}
/* Estilo para o cabeçalho da tabela */
.tabela-representantes thead {
    background-color: #001264; /* Preto escuro */
    color: white; /* Texto branco */
}

/* Estilo para as linhas da tabela */
.tabela-representantes tbody tr:nth-child(odd) {
    background-color: rgba(0, 153, 255, 0.205);/* Cinza mais forte */
    color: rgb(0, 0, 0); /* Texto branco */
}

.tabela-representantes tbody tr:nth-child(even) {
    background-color:rgba(0, 153, 255, 0.336); /* Cinza mais fraco */
    color: rgb(0, 0, 0); /* Texto branco */
}

.bg-amarelo {
    background-color: rgba(0, 153, 255, 0.527); 
    color: black; /* Cor do texto (opcional, para melhor contraste) */
}

/*Estilos para o modal de infoprmações de cálculos do representnate*/
#modalCalculos .modal-content {
    padding: 20px;
    border-radius: 8px;
}

/* Estilo para a tabela dentro do modal */
#modalCalculos .table th,
#modalCalculos .table td {
    width: 33.33%; /* Largura igual para todas as colunas */
    text-align: center; /* Centraliza o texto em todas as células */
    vertical-align: middle; /* Centraliza verticalmente o conteúdo */
    padding: 10px; /* Espaçamento interno */
}

/* Estilo para o cabeçalho da tabela */
#modalCalculos .table thead th {
    background-color: #f8f9fa; /* Cor de fundo para o cabeçalho */
    font-weight: bold; /* Texto em negrito */
}

/* Estilo para as linhas alternadas */
#modalCalculos .table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor de fundo para linhas pares */
}

/* Efeito para destacar a linha ao passar o mouse */
#calculosRepresentante tr:hover {
    background-color: rgba(173, 216, 230, 0.3); /* Cor mais clara */
}

/* Efeito para destacar a coluna ao passar o mouse */
#calculosRepresentante td:hover,
#calculosRepresentante th:hover {
    background-color: rgba(173, 216, 230, 0.5); /* Cor para a célula específica */
}

/* Destaque para as células na coluna */
#calculosRepresentante td:hover::before,
#calculosRepresentante th:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(173, 216, 230, 0.3); /* Cor para a coluna */
    z-index: -1;
    pointer-events: none;
    transform: scaleX(10);
}


/* Efeito apenas para tabelas com a classe tabela-representantes */
.tabela-representantes tbody tr:hover {
    background-color: rgba(19, 2, 255, 0.507); /* Cor de fundo para a linha ao passar o mouse */
}

/* Estilo para as células da coluna correspondente */
.tabela-representantes tbody tr:hover td {
    background-color: rgba(63, 94, 196, 0.692); /* Cor para as células da coluna correspondente ao passar o mouse */
}

/* Efeito de hover para as colunas, que podem estar em uma linha */
.tabela-representantes tbody tr td:hover {
    background-color:#001264 ;/* Cor que você escolher para o efeito hover */
    color: white;
}
.bg-amarelo:hover {
    background-color:  rgba(104, 195, 255, 0.527)/* Cor que você escolher para o efeito hover */
}


/* Efeito apenas para tabelas com a classe tabela-media */
.tabela-media tbody tr:hover {
    background-color: rgba(19, 2, 255, 0.507); /* Cor de fundo para a linha ao passar o mouse */
}

/* Estilo para as células da coluna correspondente na tabela média */
.tabela-media tbody tr:hover td {
    background-color: rgba(63, 94, 196, 0.692); /* Cor para as células da coluna correspondente ao passar o mouse */
}

/* Efeito de hover para as colunas, que podem estar em uma linha na tabela média */
.tabela-media tbody tr td:hover {
    background-color: #001264; /* Cor que você escolher para o efeito hover */
    color: white; /* Cor do texto ao passar o mouse */
}

/* Estilo para o cabeçalho da tabela média */
.tabela-media thead {
    background-color: #001264; /* Preto escuro */
    color: white; /* Texto branco */
}

/* Estilo para as linhas da tabela média */
.tabela-media tbody tr:nth-child(odd) {
    background-color: rgba(0, 153, 255, 0.205); /* Cinza mais forte */
    color: rgb(0, 0, 0); /* Texto branco */
}

.tabela-media tbody tr:nth-child(even) {
    background-color: rgba(0, 153, 255, 0.336); /* Cinza mais fraco */
    color: rgb(0, 0, 0); /* Texto branco */
}

/* Efeito apenas para tabelas com a classe valor-media-total */
#valor-media-total tr:hover {
    background-color: rgba(19, 2, 255, 0.507); /* Cor de fundo para a linha ao passar o mouse */
}

/* Estilo para as células da coluna correspondente na tabela valor-media-total */
#valor-media-total tr:hover td {
    background-color: rgba(63, 94, 196, 0.692); /* Cor para as células da coluna correspondente ao passar o mouse */
}

/* Efeito de hover para as colunas, que podem estar em uma linha na tabela valor-media-total */
#valor-media-total tr td:hover {
    background-color: #001264; /* Cor que você escolher para o efeito hover */
    color: white; /* Cor do texto ao passar o mouse */
}

/* Estilo para o cabeçalho da tabela de valor-media-total */
.table-striped thead {
    background-color: #001264; /* Preto escuro */
    color: white; /* Texto branco */
}

/* Estilo para as linhas da tabela de valor-media-total */
#valor-media-total tr:nth-child(odd) {
    background-color: rgba(0, 153, 255, 0.205); /* Cinza mais forte */
    color: rgb(0, 0, 0); /* Texto branco */
}

#valor-media-total tr:nth-child(even) {
    background-color: rgba(0, 153, 255, 0.336); /* Cinza mais fraco */
    color: rgb(0, 0, 0); /* Texto branco */
}
