/* CSS para um modal personalizado em tela cheia */
#infoModal .modal-dialog {
    width: 100vw; /* Usar viewport width */
    height: 100vh; /* Usar viewport height */
    margin: 0; /* Remover margens */
    max-width: none; /* Remover o limite de largura */
}

#infoModal .modal-content {
    height: 100%;
    border-radius: 0; /* Remover bordas arredondadas */
}

#infoModal .modal-header,
#infoModal .modal-footer {
    position: relative; /* Mantenha como relative */
    width: 100%;
}

#infoModal .modal-body {
    padding: 0; /* Remover preenchimento */
    height: calc(100% - 60px); /* Ajustar altura total sem cabeçalho e rodapé */
    overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo for grande */
}

/* Remover espaço extra em torno do modal */
.modal-open .modal {
    top: 0; /* Garantir que o modal fique no topo */
    left: 0; /* Garantir que o modal fique à esquerda */
    right: 0; /* Garantir que o modal fique à direita */
    bottom: 0; /* Garantir que o modal fique na parte inferior */
}
.header {
    padding-left: 20px; /* Ajuste esse valor conforme necessário */
}