/* Define o fundo da página como cinza */
body {
    background-color: #e2e2e2;
    /* Cor cinza clara para o fundo da página */
}
.modal-fullscreen {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.modal-fullscreen .modal-content {
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.image-preview {
    transition: transform 0.3s ease; /* Transição suave para o zoom */
    cursor: pointer; /* Aparece como se fosse clicável */
}

.image-preview:hover {
    transform: scale(1.2); /* Aumenta a imagem em 20% quando o mouse está sobre ela */
}

.modal-backdrop {
    display: none; /* Remove a sobreposição */
}
