.custom-width {
    width: 100px; 
  }
  .custom-width-n {
    width: 70px; 
  }
  body {
    background-color: #e2e2e2; /* Cor cinza clara para o fundo da página */
  }
  #addRowButton {
    display: none; /* Inicialmente escondido */
  }
  .navbar-nav .nav-link {
    font-size: 1rem; /* Aumenta o tamanho da fonte dos itens da navbar */
    margin-right: 1rem; /* Adiciona espaço à direita dos itens */
    color: #ffffff; /* Cor padrão do texto */
    border-radius: .25rem; /* Bordas arredondadas para todos os itens */
    transition: background-color 0.2s, color 0.2s; /* Adiciona espaço à direita dos itens */
  }
  .navbar-brand {
    font-size: 1.25rem; /* Aumenta o tamanho da fonte do nome da marca */
  }
  .dropdown-menu {
    background-color: #575757; /* Cor de fundo do dropdown */
    border: none; /* Remove borda do dropdown */
  }
  .dropdown-item {
    color: #fff; /* Cor do texto do dropdown */
    font-size: 1.1rem; /* Aumenta o tamanho da fonte dos itens do dropdown */
    padding: 0.5rem 1rem; /* Ajusta o preenchimento dos itens do dropdown */
  }
  .dropdown-item:hover {
    background-color: #006fdf; /* Cor de fundo ao passar o mouse sobre o item do dropdown */
  }
  .navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
    color: #fff !important;
    background-color: #006fdf !important; /* Cor de fundo para quando ativo ou hover */
  }
  .nav-item.dropdown {
    margin-left: 1rem; /* Adiciona espaço à esquerda do dropdown */
  }
  .table-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    margin: 20px auto; /* Centraliza o card na página */
    max-width: 90%; /* Define um limite de largura para o card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra ao card */
    border-radius: 8px; /* Bordas arredondadas */
}

.card-body {
    padding: 20px; /* Adiciona espaçamento interno ao card */
}

table {
    width: 100%;
    margin: 0 auto; /* Centraliza a tabela dentro do card */
    border-collapse: collapse; /* Remove espaços entre as células da tabela */
}

/* Estilo para a tabela com fundo branco */
.table-bg-white {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0; /* Remove a margem inferior da tabela */
}

