.highlight {
    background-color: rgba(0, 0, 255, 0.705);
    color: white; 
}

.date-input-container {
    display: flex;
    align-items: center;
  }
  .date-input-container input {
    margin-right: 5px;
}

.date-input-container svg {
    fill: rgb(0, 255, 0);
}

.date-input-container {
    display: flex;
    align-items: center;
  }
  .date-input-container input[type="date"] {
    margin-right: 5px;
    border-radius: 20px; 
    padding: 5px 10px;
    border: 1px solid #ced4da;
    background-color: #fff;
    color: #495057;
    font-size: 1rem;
  }
  .date-input-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .date-input-container svg {
    fill: #00c700; 
  }

  .dropzone {
    border: 2px dashed #007bff;
    padding: 20px;
    text-align: center;
    color: #007bff;
    cursor: pointer;
}
.dropzone.dragover {
    background-color: #1900ff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
  color: #fff !important;
  background-color: #006fdf !important; /* Cor de fundo para quando ativo ou hover */
  }
  
  .navbar-nav .nav-link {
   font-size: 1rem; /* Aumenta o tamanho da fonte dos itens da navbar */
  margin-right: 1rem; /* Adiciona espaço à direita dos itens */
  color: #ffffff; /* Cor padrão do texto */
  border-radius: .25rem; /* Bordas arredondadas para todos os itens */
  transition: background-color 0.2s, color 0.2s; /* Adiciona espaço à direita dos itens */
  }
  .dropdown-menu {
   background-color: #575757; /* Cor de fundo do dropdown */
   border: none; /* Remove borda do dropdown */
   }
   .dropdown-item:hover {
   background-color: #006fdf; /* Cor de fundo ao passar o mouse sobre o item do dropdown */
   }
   .nav-item.dropdown {
    margin-left: 1rem; /* Adiciona espaço à esquerda do dropdown */
   }
   .dropdown-item {
   color: #fff; /* Cor do texto do dropdown */
   font-size: 1.1rem; /* Aumenta o tamanho da fonte dos itens do dropdown */
   padding: 0.5rem 1rem; /* Ajusta o preenchimento dos itens do dropdown */
   }