.modal-body {
    max-height: 600px; /* Defina uma altura máxima para o corpo do modal */
    overflow-y: auto; /* Habilita a rolagem vertical no modal */
    position: relative; /* Garante que o cabeçalho fixo fique dentro do modal */
}

/* Define o fundo da página como cinza */
body {
  background-color: #e2e2e2; /* Cor cinza clara para o fundo da página */
}

.modal-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #343a40; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto do cabeçalho */
    border-radius: .25rem; /* Bordas arredondadas para todos os itens */
    transition: background-color 0.2s, color 0.2s; /* Adiciona espaço à direita dos itens */
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
color: #fff !important;
background-color: #006fdf !important; /* Cor de fundo para quando ativo ou hover */
}

.navbar-nav .nav-link {
 font-size: 1rem; /* Aumenta o tamanho da fonte dos itens da navbar */
margin-right: 1rem; /* Adiciona espaço à direita dos itens */
color: #ffffff; /* Cor padrão do texto */
border-radius: .25rem; /* Bordas arredondadas para todos os itens */
transition: background-color 0.2s, color 0.2s; /* Adiciona espaço à direita dos itens */
}
.dropdown-menu {
 background-color: #575757; /* Cor de fundo do dropdown */
 border: none; /* Remove borda do dropdown */
 }
 .dropdown-item:hover {
 background-color: #006fdf; /* Cor de fundo ao passar o mouse sobre o item do dropdown */
 }
 .nav-item.dropdown {
  margin-left: 1rem; /* Adiciona espaço à esquerda do dropdown */
 }
 .dropdown-item {
 color: #fff; /* Cor do texto do dropdown */
 font-size: 1.1rem; /* Aumenta o tamanho da fonte dos itens do dropdown */
 padding: 0.5rem 1rem; /* Ajusta o preenchimento dos itens do dropdown */
 }
.btn-custom {
height: 100px; /* Ajuste a altura conforme necessário */
}
.chart-container {
  width: 90%;
  margin: auto;
  padding: 10px;
}
.chart-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espaço entre os gráficos */
}
.chart-box {
  position: relative;
  width: calc(50% - 10px); /* 2 gráficos por linha */
  min-width: 300px; /* Largura mínima para cada gráfico */
  margin-bottom: 20px;
  transition: width 0.3s ease; /* Transição suave para redimensionamento */
}
.full-width {
  width: 100% !important; /* Largura total quando em modo de tela cheia */
}
.chart-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
.chart-controls button {
  margin-left: 5px;
}
canvas {
  width: 100% !important; /* Faz com que o canvas ocupe toda a largura do seu contêiner */
  height: auto !important; /* Mantém a proporção do canvas */
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave para o movimento e sombra */
}
.card.dragging {
  opacity: 0.8; /* Torna o card semitransparente enquanto é arrastado */
  transform: scale(1.05); /* Aumenta ligeiramente o card durante o arrasto */
  box-shadow: 10 10px 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao card arrastado */
  z-index: 1000; /* Garante que o card arrastado fique acima dos outros elementos */
  border: #343a40;
}

.mini-cards-row {
  display: flex;
  justify-content: space-between; /* Espaço uniforme entre os mini cards */
  gap: 10px;
  margin-bottom: 20px;
}

.mini-card {
  width: 210px; /* Ajuste conforme necessário */
  height: 100px;
  border-radius: 15px; /* Borda arredondada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para destaque */
}

.card-body {
  text-align: center; /* Centraliza o texto dentro dos mini cards */
}

.mini-card1{
  background-color: #006fdf;
}

/* CSS */
#mini-card1 {
  width: 210px; /* Ajuste conforme necessário */
  height: 100px; /* Ajuste conforme necessário */
  background: linear-gradient(#373b44, #4286f4);
  color: #ffffff;
  position: relative; /* Necessário para posicionar o ícone no fundo */
  overflow: hidden; /* Para esconder partes do ícone que saem do card */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free"; /* Fonte Font Awesome */
  z-index: 0; /* Coloca o ícone atrás do conteúdo do card */
}

#mini-card1::before {
  content: "\f017"; /* Código do ícone de relógio no Font Awesome */
  font-family: "Font Awesome 5 Free"; /* Fonte Font Awesome */
  font-weight: 900; /* Peso da fonte para ícones sólidos */
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px; /* Ajuste o tamanho do ícone */
  color: #ffffff42; /* Cor sólida para o ícone mais escuro */
  transform: translate(-50%, -50%); /* Centraliza o ícone */
  z-index: -1; /* Coloca o ícone atrás do conteúdo do card */
}

.table-wrapper {
  max-width: 100%; /* Limita a largura máxima da tabela ao espaço do card */
  overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
}

.tabela-representantes {
  width: 100%; /* Faz a tabela ocupar toda a largura disponível */
}


/* Estilos gerais de fundo para a tabela de movimentação */
#tabelaMovimentacao .compra-catalisador {
  background-color: #d0e0f0; /* Azul claro */
}

#tabelaMovimentacao .total-valor-pecas {
  background-color: #d0e0f0; /* Azul claro */
}

#tabelaMovimentacao .saldo-adiantamentos {
  background-color: #fdd0d0; /* Vermelho claro */
}

#tabelaMovimentacao .saldo-positivo {
  background-color: #d0f0c0; /* Verde claro */
}

#tabelaMovimentacao .saldo-negativo {
  background-color: #fdd0d0; /* Vermelho claro */
}

/* Efeito de hover para as colunas específicas na tabela de movimentação */
#tabelaMovimentacao tr:hover .compra-catalisador,
#tabelaMovimentacao tr:hover .total-valor-pecas,
#tabelaMovimentacao tr:hover .saldo-adiantamentos,
#tabelaMovimentacao tr:hover .saldo-positivo,
#tabelaMovimentacao tr:hover .saldo-negativo {
  background-color: #a0c0f0; /* Azul mais forte para colunas com estilo original */
}

/* Efeito de hover para Representante e Total KG na tabela de movimentação */
#tabelaMovimentacao tr:hover td:nth-child(1), /* Representante */
#tabelaMovimentacao tr:hover td:nth-child(2) { /* Total KG */
  background-color: #b0e0f0; /* Azul claro */
}

/* Efeito de hover mais intenso para cada coluna específica na tabela de movimentação */
#tabelaMovimentacao tr:hover .compra-catalisador {
  background-color: #a0c0f0; /* Azul mais forte */
}

#tabelaMovimentacao tr:hover .total-valor-pecas {
  background-color: #a0c0f0; /* Azul mais forte */
}

#tabelaMovimentacao tr:hover .saldo-adiantamentos {
  background-color: #fbb0b0; /* Vermelho mais forte */
}

#tabelaMovimentacao tr:hover .saldo-positivo {
  background-color: #a0d0a0; /* Verde mais forte */
}

#tabelaMovimentacao tr:hover .saldo-negativo {
  background-color: #fbb0b0; /* Vermelho mais forte */
}

.saldo-positivo {
  background-color: #dff0d8; /* Verde claro para saldo positivo */
}

.saldo-negativo {
  background-color: #f2dede; /* Vermelho claro para saldo negativo */
}
/* Estilo para o cabeçalho da tabela */
.tabela-representantes thead {
  background-color: #001264; /* Preto escuro */
  color: white; /* Texto branco */
}

/* Estilo para as linhas da tabela */
.tabela-representantes tbody tr:nth-child(odd) {
  background-color: rgba(0, 153, 255, 0.205);/* Cinza mais forte */
  color: rgb(0, 0, 0); /* Texto branco */
}

.tabela-representantes tbody tr:nth-child(even) {
  background-color:rgba(0, 153, 255, 0.336); /* Cinza mais fraco */
  color: rgb(0, 0, 0); /* Texto branco */
}

.bg-amarelo {
  background-color: rgba(0, 153, 255, 0.527); 
  color: black; /* Cor do texto (opcional, para melhor contraste) */
}

/* Estilo para o cabeçalho da tabela */
#modalCalculos .table thead th {
  background-color: #f8f9fa; /* Cor de fundo para o cabeçalho */
  font-weight: bold; /* Texto em negrito */
}

/* Estilo do cabeçalho da tabela */
#calculosRepresentante th {
  background-color: #f8f9fa;
}

/* Efeito hover para as linhas da tabela */
#calculosRepresentante tr:hover {
  background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
  cursor: pointer; /* Muda o cursor para indicar que a linha é interativa */
}

/* Efeito hover em células individuais */
#calculosRepresentante tr:hover td {
  color: #000; /* Muda a cor do texto ao passar o mouse */
}

/* Efeito apenas para tabelas com a classe tabela-representantes */
.tabela-representantes tbody tr:hover {
  background-color: rgba(19, 2, 255, 0.507); /* Cor de fundo para a linha ao passar o mouse */
}

/* Estilo para as células da coluna correspondente */
.tabela-representantes tbody tr:hover td {
  background-color: rgba(63, 94, 196, 0.692); /* Cor para as células da coluna correspondente ao passar o mouse */
}

/* Efeito de hover para as colunas, que podem estar em uma linha */
.tabela-representantes tbody tr td:hover {
  background-color:#001264 ;/* Cor que você escolher para o efeito hover */
  color: white;
}
.bg-amarelo:hover {
  background-color:  rgba(104, 195, 255, 0.527)/* Cor que você escolher para o efeito hover */
}

/* Efeito apenas para tabelas com a classe tabela-media */
.tabela-media tbody tr:hover {
  background-color: rgba(19, 2, 255, 0.507); /* Cor de fundo para a linha ao passar o mouse */
}

/* Estilo para as células da coluna correspondente na tabela média */
.tabela-media tbody tr:hover td {
  background-color: rgba(63, 94, 196, 0.692); /* Cor para as células da coluna correspondente ao passar o mouse */
}

/* Efeito de hover para as colunas, que podem estar em uma linha na tabela média */
.tabela-media tbody tr td:hover {
  background-color: #001264; /* Cor que você escolher para o efeito hover */
  color: white; /* Cor do texto ao passar o mouse */
}

/* Estilo para o cabeçalho da tabela média */
.tabela-media thead {
  background-color: #001264; /* Preto escuro */
  color: white; /* Texto branco */
}

/* Estilo para as linhas da tabela média */
.tabela-media tbody tr:nth-child(odd) {
  background-color: rgba(0, 153, 255, 0.205); /* Cinza mais forte */
  color: rgb(0, 0, 0); /* Texto branco */
}

.tabela-media tbody tr:nth-child(even) {
  background-color: rgba(0, 153, 255, 0.336); /* Cinza mais fraco */
  color: rgb(0, 0, 0); /* Texto branco */
}

/* Efeito apenas para tabelas com a classe valor-media-total */
#valor-media-total tr:hover {
  background-color: rgba(19, 2, 255, 0.507); /* Cor de fundo para a linha ao passar o mouse */
}

/* Estilo para as células da coluna correspondente na tabela valor-media-total */
#valor-media-total tr:hover td {
  background-color: rgba(63, 94, 196, 0.692); /* Cor para as células da coluna correspondente ao passar o mouse */
}

/* Efeito de hover para as colunas, que podem estar em uma linha na tabela valor-media-total */
#valor-media-total tr td:hover {
  background-color: #001264; /* Cor que você escolher para o efeito hover */
  color: white; /* Cor do texto ao passar o mouse */
}

/* Estilo para o cabeçalho da tabela de valor-media-total */
.table-striped thead {
  background-color: #001264; /* Preto escuro */
  color: white; /* Texto branco */
}

/* Estilo para as linhas da tabela de valor-media-total */
#valor-media-total tr:nth-child(odd) {
  background-color: rgba(0, 153, 255, 0.205); /* Cinza mais forte */
  color: rgb(0, 0, 0); /* Texto branco */
}

#valor-media-total tr:nth-child(even) {
  background-color: rgba(0, 153, 255, 0.336); /* Cinza mais fraco */
  color: rgb(0, 0, 0); /* Texto branco */
}



/* CSS CARD 2*/
#mini-card2 {
  width: 210px; /* Ajuste conforme necessário */
  height: 100px; /* Ajuste conforme necessário */
  background: linear-gradient(#3ba33e, #88ff00); /* Degradê verde */
  color: #ffffff;
  position: relative; /* Necessário para posicionar o ícone no fundo */
  overflow: hidden; /* Para esconder partes do ícone que saem do card */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Alinha o texto em coluna */
  font-family: "Font Awesome 5 Free"; /* Fonte Font Awesome */
  z-index: 0; /* Coloca o ícone atrás do conteúdo do card */
}

#mini-card2::before {
  content: "\f155"; /* Código do ícone de nota de dólar no Font Awesome */
  font-family: "Font Awesome 5 Free"; /* Fonte Font Awesome */
  font-weight: 900; /* Peso da fonte para ícones sólidos */
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px; /* Ajuste o tamanho do ícone */
  color: rgba(99, 99, 99, 0.164); /* Cor sólida para o ícone mais clara */
  transform: translate(-50%, -50%); /* Centraliza o ícone */
  z-index: -1; /* Coloca o ícone atrás do conteúdo do card */
}


/* CSS CARD 3*/
#mini-card3 {
  width: 210px; /* Ajuste conforme necessário */
  height: 100px; /* Ajuste conforme necessário */
  background: linear-gradient(#ff7300, #ffbb00); /* Degradê verde */
  color: #ffffff;
  position: relative; /* Necessário para posicionar o ícone no fundo */
  overflow: hidden; /* Para esconder partes do ícone que saem do card */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Alinha o texto em coluna */
  font-family: "Font Awesome 5 Free"; /* Fonte Font Awesome */
  z-index: 0; /* Coloca o ícone atrás do conteúdo do card */
}

#mini-card3::before {
  content: "\f496"; /* Código do ícone de nota de dólar no Font Awesome */
  font-family: "Font Awesome 5 Free"; /* Fonte Font Awesome */
  font-weight: 900; /* Peso da fonte para ícones sólidos */
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px; /* Ajuste o tamanho do ícone */
  color: rgba(0, 0, 0, 0.164); /* Cor sólida para o ícone mais clara */
  transform: translate(-50%, -50%); /* Centraliza o ícone */
  z-index: -1; /* Coloca o ícone atrás do conteúdo do card */
}


/* CSS CARD 4*/
#mini-card4 {
  width: 210px; /* Ajuste conforme necessário */
  height: 100px; /* Ajuste conforme necessário */
  background: linear-gradient(#ffc400, #e4c05e); /* Degradê verde */
  color: #ffffff;
  position: relative; /* Necessário para posicionar o ícone no fundo */
  overflow: hidden; /* Para esconder partes do ícone que saem do card */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Alinha o texto em coluna */
  font-family: "Font Awesome 5 Free"; /* Fonte Font Awesome */
  z-index: 0; /* Coloca o ícone atrás do conteúdo do card */
}

#mini-card4::before {
  content: "\f529"; /* Código do ícone de nota de dólar no Font Awesome */
  font-family: "Font Awesome 5 Free"; /* Fonte Font Awesome */
  font-weight: 900; /* Peso da fonte para ícones sólidos */
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px; /* Ajuste o tamanho do ícone */
  color: rgba(0, 0, 0, 0.164); /* Cor sólida para o ícone mais clara */
  transform: translate(-50%, -50%); /* Centraliza o ícone */
  z-index: -1; /* Coloca o ícone atrás do conteúdo do card */
}

/* CSS CARD 5*/
#mini-card5 {
  width: 210px; /* Ajuste conforme necessário */
  height: 100px; /* Ajuste conforme necessário */
  background: linear-gradient(#008d3b,#00ce56); /* Degradê verde */
  color: #ffffff;
  position: relative; /* Necessário para posicionar o ícone no fundo */
  overflow: hidden; /* Para esconder partes do ícone que saem do card */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Alinha o texto em coluna */
  font-family: "Font Awesome 5 Free"; /* Fonte Font Awesome */
  z-index: 0; /* Coloca o ícone atrás do conteúdo do card */
}

#mini-card5::before {
  content: "\f201"; /* Código do ícone de nota de dólar no Font Awesome */
  font-family: "Font Awesome 5 Free"; /* Fonte Font Awesome */
  font-weight: 900; /* Peso da fonte para ícones sólidos */
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px; /* Ajuste o tamanho do ícone */
  color: rgba(0, 0, 0, 0.164); /* Cor sólida para o ícone mais clara */
  transform: translate(-50%, -50%); /* Centraliza o ícone */
  z-index: -1; /* Coloca o ícone atrás do conteúdo do card */
}

/* CSS CARD 6*/
#mini-card6 {
  width: 210px; /* Ajuste conforme necessário */
  height: 100px; /* Ajuste conforme necessário */
  background: linear-gradient(#555555,#797979); /* Degradê verde */
  color: #ffffff;
  position: relative; /* Necessário para posicionar o ícone no fundo */
  overflow: hidden; /* Para esconder partes do ícone que saem do card */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Alinha o texto em coluna */
  font-family: "Font Awesome 5 Free"; /* Fonte Font Awesome */
  z-index: 0; /* Coloca o ícone atrás do conteúdo do card */
}

#mini-card6::before {
  content: "\f73d"; /* Código do ícone de nota de dólar no Font Awesome */
  font-family: "Font Awesome 5 Free"; /* Fonte Font Awesome */
  font-weight: 900; /* Peso da fonte para ícones sólidos */
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px; /* Ajuste o tamanho do ícone */
  color: rgba(0, 0, 0, 0.164); /* Cor sólida para o ícone mais clara */
  transform: translate(-50%, -50%); /* Centraliza o ícone */
  z-index: -1; /* Coloca o ícone atrás do conteúdo do card */
}



