.container {
    margin-top: 20px;
}

/* Estilo para o cabeçalho da tabela */
.table thead th {
    background-color: #0091f8; /* Azul claro */
    color: #ffffff; /* Azul mais escuro para o texto */
}

/* Estilo para as linhas da tabela ao passar o mouse */
.table tbody tr:hover {
    background-color: #0091f82c; /* Verde claro para o hover */
}
 /* Classe para cabeçalhos das tabelas */
.table-header-small th {
        font-size: 0.9rem; /* Ajuste o tamanho da fonte conforme necessário */
        padding: 0.2rem;   /* Ajuste o padding conforme necessário */
}
.text-center-custom {
    text-align: center;
}

/* Define largura fixa para colunas específicas */
#pecas-table th:nth-child(1),
#pecas-table td:nth-child(1) {
    width: 1%; /* Ajuste conforme necessário */
}

#pecas-table th:nth-child(2),
#pecas-table td:nth-child(2) {
    width: 1%; /* Ajuste conforme necessário */
}

#pecas-table th:nth-child(3),
#pecas-table td:nth-child(3) {
    width: 5%; /* Ajuste conforme necessário */
}

#pecas-tipo-table th:nth-child(1),
#pecas-tipo-table td:nth-child(1) {
    width: 1%; /* Ajuste conforme necessário */
}

#pecas-tipo-table th:nth-child(2),
#pecas-tipo-table td:nth-child(2) {
    width: 1%; /* Ajuste conforme necessário */
}

#pecas-tipo-table th:nth-child(3),
#pecas-tipo-table td:nth-child(3) {
    width: 1%; /* Ajuste conforme necessário */
}

#pecas-tipo-table th:nth-child(4),
#pecas-tipo-table td:nth-child(4) {
    width: 10%; /* Ajuste conforme necessário */
}

.header-bg {
    color: rgb(0, 0, 0); /* Cor do texto */
    padding: 10px;
    border-radius: 0.25rem;
}
 
  /* Estilos exclusivos para o modal de PDF */
#pdfModal .modal-dialog {
    max-width: 40%; /* Ajuste o tamanho máximo do modal */
    max-height: 80vh; /* Ajuste a altura máxima */
  }
  
  #pdfModal .modal-content {
    height: auto; /* Permite altura automática */
  }
  
  #pdfModal .modal-body {
    padding: 0; /* Remove padding interno para exibir o PDF melhor */
  }
  
  #pdfModal #pdfViewer {
    width: 100%;
    height: 500px; /* Altura do iframe para exibir o PDF */
  }
  
  /* Garante que o modal ocupe 100% da altura e remova espaços extras */
.modal-fullscreen .modal-dialog {
    margin: 0 !important; /* Remove as margens */
    height: 100%;         /* Faz o modal ocupar 100% da tela */
}

.modal-fullscreen .modal-content {
    height: 100%;         /* Faz o conteúdo do modal ocupar 100% da tela */
}

.modal-fullscreen .modal-body {
    flex-grow: 1;
    overflow-y: auto;     /* Faz o conteúdo da body ser rolável */
    padding: 0;           /* Remove padding da body */
}

.modal-fullscreen .modal-header,
.modal-fullscreen .modal-footer {
    padding: 10px;        /* Ajusta os espaçamentos do header e footer */
}
