/* Define o estilo do modal para ocupar toda a tela */
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: none;
}

/* Define o fundo da página como cinza */
body {
    background-color: #e2e2e2; /* Cor cinza clara para o fundo da página */
  }

.modal-content {
    height: 100%;
    border-radius: 0; /* Remove bordas arredondadas para ocupar toda a tela */
}

.modal-body {
    max-height: calc(100% - 120px); /* Ajuste conforme necessário para considerar o espaço ocupado pelo cabeçalho e rodapé */
    overflow-y: auto;
    position: relative;
}

.modal-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #343a40; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto do cabeçalho */
    border-radius: .25rem; /* Bordas arredondadas para todos os itens */
    transition: background-color 0.2s, color 0.2s; /* Adiciona espaço à direita dos itens */
}

/* Estilo para centralizar o modal */
.modal.fade .modal-dialog {
    transform: translate(0, 0); /* Remove qualquer deslocamento inicial */
}

.modal.show .modal-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o modal */
    position: absolute;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
    color: #fff !important;
    background-color: #006fdf !important; /* Cor de fundo para quando ativo ou hover */
}

.navbar-nav .nav-link {
    font-size: 1rem; /* Aumenta o tamanho da fonte dos itens da navbar */
    margin-right: 1rem; /* Adiciona espaço à direita dos itens */
    color: #ffffff; /* Cor padrão do texto */
    border-radius: .25rem; /* Bordas arredondadas para todos os itens */
    transition: background-color 0.2s, color 0.2s; /* Adiciona espaço à direita dos itens */
}

.dropdown-menu {
    background-color: #575757; /* Cor de fundo do dropdown */
    border: none; /* Remove borda do dropdown */
}

.dropdown-item:hover {
    background-color: #006fdf; /* Cor de fundo ao passar o mouse sobre o item do dropdown */
}

.nav-item.dropdown {
    margin-left: 1rem; /* Adiciona espaço à esquerda do dropdown */
}

.dropdown-item {
    color: #fff; /* Cor do texto do dropdown */
    font-size: 1.1rem; /* Aumenta o tamanho da fonte dos itens do dropdown */
    padding: 0.5rem 1rem; /* Ajusta o preenchimento dos itens do dropdown */
}

.btn-custom {
    height: 100px; /* Ajuste a altura conforme necessário */
}

/* CSS personalizado para o modal em tela cheia */
.modal-fullscreen {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  
/* CSS para garantir que todos os botões tenham o mesmo tamanho */
.btn-uniform {
    /* Adiciona altura fixa para botões */
    height: 60px; /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Garante que todos os botões sejam responsivos e ocupem toda a largura do container */
.btn-uniform.w-100 {
    width: 100%;
}

.table th, .table td {
    padding: 12px; /* Ajuste o espaço interno das células */
    vertical-align: middle; /* Alinhamento vertical */
}

.table th:nth-child(1), .table td:nth-child(1) {
    width: 120px; /* Largura da coluna de lote */
}

.table th:nth-child(2), .table td:nth-child(2) {
    width: 150px; /* Largura da coluna de tipo */
}

.table th:nth-child(3), .table td:nth-child(3) {
    width: 150px; /* Largura da coluna de modelo */
}

.table th:nth-child(4), .table td:nth-child(4) {
    width: 150px; /* Largura da coluna de código */
}

.table th:nth-child(5), .table td:nth-child(5) {
    width: 130px; /* Largura da coluna de quantidade */
}

.table th:nth-child(6), .table td:nth-child(6) {
    width: 130px; /* Largura da coluna de valor */
}

.table th:nth-child(7), .table td:nth-child(7) {
    width: 200px; /* Largura da coluna de clientes */
}

.table th:nth-child(8), .table td:nth-child(8) {
    width: 150px; /* Largura da coluna de representante */
}
@media (max-width: 768px) {
    .table th, .table td {
        font-size: 14px; /* Ajusta o tamanho da fonte */
        padding: 8px; /* Ajusta o espaço interno das células */
    }

    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
.container {
    max-width: 1200px; /* Ajuste conforme necessário */
    margin: 0 auto; /* Centraliza o container */
    padding: 20px; /* Espaço interno ao redor do conteúdo */
}

h2 {
    margin-bottom: 20px; /* Espaço abaixo do título */
}

.form-group {
    margin-bottom: 20px; /* Espaço abaixo dos campos do formulário */
}

.table {
    width: 100%; /* Garante que a tabela ocupe toda a largura do container */
    border-collapse: separate;
    border-spacing: 0 10px; /* Espaçamento entre as linhas */
    table-layout: fixed; /* Garante que a tabela não se expanda além do container */
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
}

.table th, .table td {
    padding: 12px; /* Ajuste o espaço interno das células */
    vertical-align: middle; /* Alinhamento vertical */
}

.table th:nth-child(1), .table td:nth-child(1) {
    width: 120px; /* Largura da coluna de lote */
}

.table th:nth-child(2), .table td:nth-child(2) {
    width: 150px; /* Largura da coluna de tipo */
}

.table th:nth-child(3), .table td:nth-child(3) {
    width: 150px; /* Largura da coluna de modelo */
}

.table th:nth-child(4), .table td:nth-child(4) {
    width: 150px; /* Largura da coluna de código */
}

.table th:nth-child(5), .table td:nth-child(5) {
    width: 130px; /* Largura da coluna de quantidade */
}

.table th:nth-child(6), .table td:nth-child(6) {
    width: 130px; /* Largura da coluna de valor */
}

.table th:nth-child(7), .table td:nth-child(7) {
    width: 200px; /* Largura da coluna de clientes */
}

.table th:nth-child(8), .table td:nth-child(8) {
    width: 150px; /* Largura da coluna de representante */
}

.table thead th {
    background-color: #f1f1f1; /* Cor de fundo dos cabeçalhos */
    text-align: center; /* Centraliza o texto nos cabeçalhos */
}

.table tbody tr {
    background-color: #fff; /* Cor de fundo das linhas */
}

.table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9; /* Cor de fundo alternada das linhas */
}

@media (max-width: 768px) {
    .table th, .table td {
        font-size: 14px; /* Ajusta o tamanho da fonte */
        padding: 8px; /* Ajusta o espaço interno das células */
    }

    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
