/* Define o estilo do modal para ocupar toda a tela */
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: none;
}

/* Define o fundo da página como cinza */
body {
    background-color: #e2e2e2; /* Cor cinza clara para o fundo da página */
  }

.modal-content {
    height: 100%;
    border-radius: 0; /* Remove bordas arredondadas para ocupar toda a tela */
}

.modal-body {
    max-height: calc(100% - 120px); /* Ajuste conforme necessário para considerar o espaço ocupado pelo cabeçalho e rodapé */
    overflow-y: auto;
    position: relative;
}

.modal-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #343a40; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto do cabeçalho */
    border-radius: .25rem; /* Bordas arredondadas para todos os itens */
    transition: background-color 0.2s, color 0.2s; /* Adiciona espaço à direita dos itens */
}

/* Estilo para centralizar o modal */
.modal.fade .modal-dialog {
    transform: translate(0, 0); /* Remove qualquer deslocamento inicial */
}

.modal.show .modal-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o modal */
    position: absolute;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
    color: #fff !important;
    background-color: #006fdf !important; /* Cor de fundo para quando ativo ou hover */
}

.navbar-nav .nav-link {
    font-size: 1rem; /* Aumenta o tamanho da fonte dos itens da navbar */
    margin-right: 1rem; /* Adiciona espaço à direita dos itens */
    color: #ffffff; /* Cor padrão do texto */
    border-radius: .25rem; /* Bordas arredondadas para todos os itens */
    transition: background-color 0.2s, color 0.2s; /* Adiciona espaço à direita dos itens */
}

.dropdown-menu {
    background-color: #575757; /* Cor de fundo do dropdown */
    border: none; /* Remove borda do dropdown */
}

.dropdown-item:hover {
    background-color: #006fdf; /* Cor de fundo ao passar o mouse sobre o item do dropdown */
}

.nav-item.dropdown {
    margin-left: 1rem; /* Adiciona espaço à esquerda do dropdown */
}

.dropdown-item {
    color: #fff; /* Cor do texto do dropdown */
    font-size: 1.1rem; /* Aumenta o tamanho da fonte dos itens do dropdown */
    padding: 0.5rem 1rem; /* Ajusta o preenchimento dos itens do dropdown */
}

.btn-custom {
    height: 100px; /* Ajuste a altura conforme necessário */
}

/* CSS personalizado para o modal em tela cheia */
.modal-fullscreen {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  
/* CSS para garantir que todos os botões tenham o mesmo tamanho */
.btn-uniform {
    /* Adiciona altura fixa para botões */
    height: 60px; /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Garante que todos os botões sejam responsivos e ocupem toda a largura do container */
.btn-uniform.w-100 {
    width: 100%;
}
.table thead th {
    position: sticky;
    top: 0;
    background-color: #ffffff; /* Cor de fundo do cabeçalho */
    color: rgb(0, 0, 0); /* Cor do texto do cabeçalho */
    z-index: 0; /* Garante que o cabeçalho esteja acima do corpo da tabela */
}

