/* Estilo para modal fullscreen */
.modal-fullscreen .modal-dialog {
    max-width: 100%;
    margin: 0;
}

.modal-fullscreen .modal-content {
    height: 100vh;
    border-radius: 0;
}

.modal-fullscreen .modal-header, 
.modal-fullscreen .modal-body, 
.modal-fullscreen .modal-footer {
    padding: 1.5rem;
}
/* CSS personalizado para botões maiores */
.btn-registros {
    width: 100%; /* Largura total para botões na coluna */
    padding: 15px; /* Aumentar o padding para botões maiores */
    font-size: 1.2rem; /* Aumentar o tamanho da fonte */
}


 .bg-debito {
        background-color: #f8d7da; /* Vermelho clarinho para débito */
 }

.bg-credito {
        background-color: #d1e7dd; /* Azul clarinho para crédito */
}

/* CSS para ajustar a apresentação do resumo no rodapé do modal */
.modal-footer p {
    margin: 0;
    font-weight: bold;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}


