/* Estilo para modal fullscreen */
.modal-fullscreen .modal-dialog {
    max-width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}

.modal-fullscreen .modal-content {
    height: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

.modal-fullscreen .modal-header,
.modal-fullscreen .modal-body,
.modal-fullscreen .modal-footer {
    padding: 1.0rem;
}

/* CSS para garantir que os botões fiquem lado a lado e não se sobreponham */

.btn-group {
    display: flex;
    /* Alinha os botões horizontalmente */
}

.btn {
    margin-right: 0.5rem;
    /* Espaçamento entre os botões */
}

/* CSS personalizado para botões maiores */
.btn-registros {
    width: 100%;
    /* Largura total para botões na coluna */
    padding: 15px;
    /* Aumentar o padding para botões maiores */
    font-size: 1.2rem;
    /* Aumentar o tamanho da fonte */
}

.bg-debito {
    background-color: #f8d7da;
    /* Vermelho clarinho para débito */
}

.bg-credito {
    background-color: #57c1ffbe;
    /* Azul clarinho para crédito */
}

/* CSS para ajustar a apresentação do resumo no rodapé do modal */
.modal-footer p {
    margin: 0;
    font-weight: bold;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}

.modal-body {
    flex: 1;
    overflow-y: auto;
}

#search-input {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
    /* Para garantir que o campo de pesquisa fique visível */
}

.table-container {
    max-height: calc(100vh - 200px);
    /* Ajuste conforme necessário para o espaço da modal */
    overflow-y: auto;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    /* Cor de fundo para o cabeçalho da tabela */
    z-index: 5;
}

#loading-screen {
    display: none;
    /* Ocultar inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    /* Cor de fundo semi-transparente */
    z-index: 9999;
    /* Certifica-se de que a tela de carregamento está sobre outros elementos */
    text-align: center;
    padding-top: 20%;
}

.spinner-border {
    width: 3rem;
    /* Tamanho do spinner */
    height: 3rem;
    /* Tamanho do spinner */
    border-width: 0.3em;
    /* Espessura das barras do spinner */
}

.text-primary {
    color: #007bff !important;
    /* Azul padrão do Bootstrap. Ajuste conforme necessário */
}

body {
    background-color: #e2e2e2;
    /* Cor cinza clara para o fundo da página */
}

.card {
    border-radius: 0.75rem;
    /* Ajuste o valor conforme necessário */
}

/* Estilos para a linha de total */
.total-row {
    font-weight: bold; /* Deixar o texto em negrito */
    background-color: #f0f0f0; /* Cor de fundo suave para destacar a linha */
}

/* Estilos para saldo positivo */
.saldo-positivo {
    background-color: #b0d2ff; /* Azul claro */
}

.saldo-positivo:hover {
    background-color: #8abaff; /* Azul mais forte no hover */
}

/* Estilos para saldo negativo */
.saldo-negativo {
    background-color: #ffb9c4; /* Vermelho claro */
}

.saldo-negativo:hover {
    background-color: #ff9a9f; /* Vermelho mais forte no hover */
}

.table-responsive {
    max-height: 400px; /* Altura máxima da tabela */
    overflow-y: auto; /* Permitir rolagem vertical */
    margin: 0; /* Remover margens */
}
.input-group {
    margin-bottom: 0; /* Remover a margem inferior do grupo de inputs */
}

.table-responsive {
    margin-top: 10px; /* Ajustar a margem superior se necessário */
}

.table {
    margin-bottom: 0; /* Remover a margem inferior da tabela */
}

